@import "styles/helpers/vars";
@import "styles/helpers/mixins";

a {
  text-decoration: none;
  color: var(--body-color);
  transition: var(--transition);
}

img {
  max-width: 100%;
  height: auto;
  min-height: 1px;
}

button, input, textarea, select {
  outline: none;
  color: var(--body-color);
}

input[type="text"] {
  appearance: none;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}